table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;

  width:60%;
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


.photo {
  width: 60%;
  height: 60%;
  margin: auto;
}

.backButton{
  position: absolute;
  padding: 13px;
}


.nextPrevButt {
  display: flex;
  width: 600px;

  button {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    flex-shrink: 1;
    flex: 1 1 auto;
  }
}
